*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
header {
	width:100%; /* Establecemos que el header abarque el 100% del documento */
	overflow:hidden; /* Eliminamos errores de float */
	margin-bottom:20px;
}


.wrapper {
	position: relative;
	width: 100%;
	height: 45%;
	padding: 0;
	margin: 0;
}

 #logo {
	color:#87adf3;
	font-size:70px;
	line-height:200px;
	text-align: center;

}
.main_content{
	  margin: 100px;
}

header nav {
	float:right;
	line-height:200px;
}

header nav a {
	display:inline-block;
	color:rgb(72, 108, 163);
	text-decoration:none;
	padding:10px 20px;
	line-height:normal;
	font-size:20px;
	font-weight:bold;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}

header nav a:hover {
	background:#f56f3a;
	border-radius:50px;
}

.respuesta
{

width: 50%;
padding: 10px;
margin: 10px;
}


.userid{
	padding: 100px;
}

#regresar{
	width: 10px;
}


#pregunta{
	width: 60%;
	height: 100px;
}

#boton{
	width: 100px;
	color: #0099CC;
	background: transparent;
	border: 2px solid #0099CC;
	border-radius: 6px;
}

#preguntass{
	padding: 20px;
}
#crear{
	width: 50%;
	height: 50%;
}
#ver{
	width: 50%;
	
}

#Nombre{
	float: left;


}

#Nota{
 
 float: center;
}

#listates{

	float: left;
	font-family: Lora;
}
/* pantalla de login */


#signup {
    padding: 0px 25px 25px;
    background: #fff;
    box-shadow: 
        0px 0px 0px 5px rgba( 255,255,255,0.4 ), 
        0px 4px 20px rgba( 0,0,0,0.33 );
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: table;
    position: static;
}
#signup .inputs {
    margin-top: 25px;
}

#signup .inputs input[type=usuario]{
    background: #f5f5f5;
    font-size: 0.8rem;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    padding: 13px 10px;
    width: 400px;
    margin-bottom: 20px;
    box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 );
    clear: both;
}

#cuerpo{
	background-color: #AED6F1;
}